/* 
Document   : admin
Created on : 06.07.2009, 13:20:43
Author     : Andrey_Pns
Description:
Purpose of the stylesheet follows.
*/

body {
    font-family: Geneva, Arial, Helvetica, sans-serif;
    margin: 0; padding: 0;
    font-size: 10pt;
}
#mainadmin {
    float:left;
}
#adm_username {
    text-align:right;
}
#mainadmin a {
    color: #ffffff;
}
.pageicon {
    float:left;
    margin-right:10px;
}
#admheader {
    height: 70px;
    background-color: #614874;
    color:white;
    padding: 5px;
}
#admmainmenu {
    list-style:none;
    clear:both;
}
#admmainmenu li {
    display:inline;
    color: white;
}
#admmainmenu li a {
    color: #614874;
    background-color: #F0EDF1;
    padding: 1px;
}
#admcontent {
    font-size: 11pt;
}
img {
    border: none;
}
h1, h2, h3 {
    background-image: url('/img/bg/tab2.gif');
    margin: 0;
    padding: 10px;
    padding-left: 20px;
    color: #009FD4;
}
ymaps h3 {
    border:0;
    color: #000;
    padding:0;
    font-size: 12pt;
    background: none;
}

/* -------------------------------  MODIFIERS --------------------------- */
.m_center {
    text-align: center;
}
.m_hide {
    display:none;
}
.h_valign_top {
    vertical-align: top;
}
.m_width_full {
    width: 100%;
}
.m_height_full {
    height: 100%;
}
/* -----------------------------  COMMON TABLES ------------------------- */
.commontable {
    background-color: #8A648A;
    font-size:90%;
    margin:10px auto;
    border-spacing: 1px;
    border-collapse: separate;
}
.commontable tr {
    background-color:#fff;
}
.commontable tr td {
    position:relative;
    background-color:inherit;
    padding: 3px;
}
.commontable tr th {
    background-color: #D3CED3;
    padding: 3px;
}

.detailtable {
    background-color: #8A648A;
    margin:10px auto;
    border-spacing: 1px;
    border-collapse: separate;
}
.detailtable tr td {
    background-color: #F1ECF1;
    padding: 3px;
}
.detailtable tr th {
    text-align: right;
    background-color: #D3CED3;
    padding: 3px;
}
.tablerow_cellicon {
    position:absolute;
    right:2px;
    bottom:1px;
}
.tablerow_additional_data {
    color:#777;
    display: block;
    float:right;
    font-size:x-small;
}
.commontable .bkgnd_warning td {
    background-color:#FFFFD4;
}
.commontable .bkgnd_error td {
    background-color:#FA8072;
}

/* --------------------------------------  PAGER ------------------------ */
.pager_block {
    border: 1px dotted #efefef;
    height:25px;
    clear:both;
}
.pager_block a, .pager_block span {
    border:1px solid #300c00;
    margin:5px;
    padding:5px;
    text-decoration: none;
}
.pager_block a:hover {
    background-color: #976F68
}
.pager_form {
    float:right;
    text-align:right;
    margin:2px;
    margin-right:10px;
}
.pager_perpage {
    border: 1px solid #300c00;
}

/* --------------------------------------  INDEX ------------------------ */
#admenu_table {
    margin-left: 20px;
    border-top: 1px solid #7B68EE;
    border-left: 1px solid #7B68EE;
    border-right: 1px solid #7B68EE;
}
#admenu_table tr {
    background-image: url('../img/bg/tab2.gif');
    border: 1px solid #7B68EE;
}
#admenu_table td {
    border-bottom: 1px solid #7B68EE;
}
#admenu_table td a {
    color: #7B68EE;
    font-weight: bold;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
}
#admenu_table td a:hover {
    text-decoration: underline;
}

/* -------------------------------------- / INDEX ------------------------ */
/* --------------------------------------  USERS ------------------------ */
#usertable tr th {
    text-align: left;
}
#usertable {
    background-color: #8A648A;
    margin: 5px;
}
#usertable tr th {
    background-color: #D3CED3;
}
#usertable tr td {
    background-color: #F1ECF1;
    padding: 3px;
}
/* -------------------------------------- / USERS ------------------------ */
/* --------------------------------------  MODULES ------------------------ */
label {
    color: #5C8DA0;
    font-size: 10pt;
}
#modlist {
    color: #1E90FF;
}
#modlist li a {
    color: #1E90FF;
}
input, textarea, select, #addmdbtn, hr {
    border: 1px solid #87CEEB;
}
#suburl {
    /*border: 1px solid #87CEEB;
    background-color:white;*/
    font-size:smaller;
}
/* -------------------------------------- / MODULES ------------------------ */
/* --------------------------------------  LOG_ERROR ------------------------ */
#erlogtbl {
    background-color: #8A648A;
    margin: 10px;
}
#erlogtbl tr td {
    background-color: #ffffff;
    padding: 3px;
}
#erlogtbl tr th {
    background-color: #D3CED3;
    padding: 3px;
}
/* -------------------------------------- / LOG_ERROR ------------------------ */

/* --------------------------------------  CRON ------------------------ */
#crontable {
    background-color: #8A648A;
    margin: 10px;
}
#crontable tr td {
    background-color: #ffffff;
    padding: 3px;
}
#crontable tr th {
    background-color: #D3CED3;
    padding: 3px;
}
#crontable tr td a {
    color:#4169E1;
}
.input_elements {
    vertical-align: middle;
}
/* -------------------------------------- / CRON ------------------------ */

/* --------------------------------------  POINTS ------------------------ */
.points-editprop {
    color:#4169E1;
    text-decoration: none;
    border-bottom: 1px dotted #4169E1;
}


/* Autocomplete
-----------------------------------------------------------------------------*/
.autocomplete-suggestions { border: 1px solid #999; background: #FFF; cursor: default; overflow: auto; }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }