/* Modules
==============================================================================*/
#yandex_sharer {
    height:25px;
    overflow:hidden;
    margin: 10px;
    clear:both;
    text-align:right;
}

/*---------------------------------- ERROR PAGES -----------------------*/
.errpage_img_main {
    float:left;
    margin:6px;
    height: 200px;
}
/*------------------------------------- INDEX --------------------------*/
.index-illustration {
    margin:5px;
    border:1px solid #efefef;
}
.index-illustration.m_left {
    float:left;
}
.index-illustration.m_right {
    float:right;
}

.index-half-left {
    padding:1px;
    width: 49%;
    float: left;
}
.index-half-right {
    padding:1px;
    width: 50%;
    float: right;
}

/*------------------------------------- CITY --------------------------*/
.city-tree-full {
    list-style-type: none;
    font-size:16px;
}
.city-tree-full li {
    margin-bottom: 5px;
}
.city-tree-full li.m_region {
    margin-top: 8px;
    font-size: 17px;
}
.city-tree-full li a.m_left_more {
    margin-left:40px;
}
.city-tree-full li a.m_left_moremore {
    margin-left:60px;
}

/*------------------------------------- LIST --------------------------*/
.list-half-left {
    width:49%;
    text-align: justify;
    float: left;
}
.list-half-right {
    display:block;
    width:45%;
    margin-left: 50%;
}
.list-map {
    width:100%;
    height:300px;
}

/*------------------------------------- SIGN --------------------------*/
.sign_form_little {
    width:500px;
    height:300px;
    margin: 2em auto;
    padding:2em;
    border:1px solid #3187c4;
}
.button_common {
    color:#fff;
    background:#0e506e;
    padding:.5em;
    text-transform: uppercase;
    border-radius: 5px;    
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
/*------------------------------------- BLOG --------------------------*/
.blog_title {
    background:none;
}
.blog_attrs {
    margin-top:2px;
    margin-left: 20px;
    color:#afafaf;
    font-size:smaller;
}
.blog_attrs img {
    vertical-align: middle;
    margin-right: 0.5em;
}
.datepicker {
    width: 90px;
    background-image:url('/img/ico/ico.calendar.gif');
    background-position:right top;
    background-repeat: no-repeat;
    cursor:pointer;
}
/*------------------------------------- WEATHER --------------------------*/
#city_float {
    width:200px;
    float:right;
    margin:5px auto;
    margin-left:5px;
    position:relative;
}
.city_weather {
    border: 1px solid #99B099;
    height:65px;
    text-align:center;
    background-color:#DDF4FF;
}
.weatherblock_icon {float:left;}
.weatherblock_temperature {font-size:120%;font-weight:bold;width:120px;margin-left:55px;}
.weatherblock_elements {font-size:80%;text-align:left;text-align:right;margin-right: 2px}
.weatherblock_legal {clear:both;font-size:70%;text-align:center;}
/*----------------------------------- METADATA ------------------------*/
.city_metadata {
    margin-top:2px;
    padding:2px;
    border: 1px solid #99B099;
    background-color:#E0FCE7;
    font-size:70%;
}
.city_metadata table {
    width:100%
}
.city_metadata table td {
    vertical-align:top;
}
.city_metadata table th {
    font-weight:bold;
    text-align:left;
    vertical-align:top;
}
/*------------------------------------- MAPS --------------------------*/
#maponpage {
    width:99%;
    min-height:400px;  
    height:600px;
    border:1px solid #99B099;
    margin:0 auto;
}
#map_container {
    float: right;
    position: relative;
    text-align: center;
}
#city_map {
    border:1px solid #99B099;
    background-color:#DDFEDD;
    height: 400px;
    width: 500px;
    margin:5px;
}
#city_map_link {
    position:relative;
    display:block;
    top:-395px;
    width: 30%;
    margin:0 auto;
    text-align: center;
    opacity: 0.7;
    filter: alpha(Opacity=70);
    background-color:#fff;
}
#city_types {
    width: 500px;
    text-align:center;
    display: none;
}
#objfinder_map {
    border:1px solid #99B099;
    background-color:#DDFEDD;
    height: 350px;
    width: 600px;
    margin:5px;
}
ymaps h3 {
    font-size: 12pt;
    background: none;
}
ymaps .objlink {
    font-size: 11pt;
    text-decoration: none;
}
ymaps .ymap_balloon {
    font-size:12px;
    max-width:250px;
}
.point_dataext {
    color:#A59F9A;
}

/*----------------------------------- FEEDBACK ------------------------*/
.feedtable {
    width:70%;
    border:#7d7d7d 1px solid;
    padding:2px;
    margin-bottom:2px;
}
.feedinput {
    width:100%;
    border-width:1px;
}
textarea.feedinput {
    height:200px;
}
.feedtable label {
    padding:5px;
}
.feedhighlight {
    color:red;
}
#ftextcheck {
    display:none;
}
.feedresult_message {
    min-height: 150px;
    margin:3px;
    padding:5px;
    font-style:italic;
    border:1px solid #777;
    background-color: #efefef;
}
.addpoint-formtable {
    margin:0 auto;
}
.addpoint-formtable tr td {
    padding:4px;
}
.addpoint-formtable input.m_highter {
    height: 20px;
    font-size:16px;
}
.addpoint-textarea {
    height: 200px;
    font-size:16px;
}

/*----------------------------------- SEARCH ------------------------*/
#searchrorm_form {
    margin:1px;
}
#searchform_input {
    width: 500px;
    height: 24px;
    font-size: 16pt;
    margin:50px 0 40px 60px;
}
#searchform_submit {
    height: 42px;
    width: 140px;
    vertical-align:middle;
    margin-top: 4px;
    font-size: 15pt;

    display: inline-block;
    zoom: 1; /* хак IE7 для display: inline-block*/
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    padding: .3em 2em .55em;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5); /* CSS3: тень для текста */
    -webkit-border-radius: .5em; /* CSS3: закругление границ для Safari, Chrome */
    -moz-border-radius: .5em; /* CSS3: закругление границ для FireFox */
    border-radius: .5em;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2); /* CSS3: тень элемента для Safari, Chrome */
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2); /* CSS3: тень элемента для FireFox */
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);

    border: solid 1px #D0C293;
    background: #F1E1AA;
    background: -o-linear-gradient(#F6ECCA, #E0D19E); /* CSS3: фон с градиентом для Opera 11+ */
    background: -webkit-gradient(linear, left top, left bottom, from(#F6ECCA), to(#E0D19E)); /* CSS3: фон с градиентом для Safari, Chrome */
    background: -moz-linear-gradient(top,  #F6ECCA,  #E0D19E); /* CSS3: фон с градиентом для FireFo 3.6+ */
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#F6ECCA', endColorstr='#E0D19E'); /* CSS3: фон с градиентом для IE */
}
#searchform_submit:hover {
    background: #EADBA5;
    background: -o-linear-gradient(#E8DFBF, #DACB9A);
    background: -webkit-gradient(linear, left top, left bottom, from(#E8DFBF), to(#DACB9A));
    background: -moz-linear-gradient(top,  #E8DFBF,  #DACB9A);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#E8DFBF', endColorstr='#DACB9A');
    color: #fff;
}
#searchform_submit:active {
    position:relative;
    top:1px;
    left: 1px;
}

/*------------------------------- page CITY ----------------------------------*/
#city_path {
    text-align: right;
    border-top: 2px solid #141414;
    background: #292929;
    color: #fff;
    padding: 0 5pt;
    background: #000;
    background: -moz-linear-gradient(left,#292929,#fff);
    background: -webkit-gradient(linear, right top, left top, from(#292929), to(#fff));
    background: linear-gradient(top,#292929,#fff);
}
#city_path a {
    color:#fff;
    text-decoration: none;
}
#citypoints {
    clear:both;
}
.points_selector {
    display:block;
    position:relative;
    float:left;
    width:76px;
    margin: 0;
    background:#393939;
}
.points_selector li {
    display:block;
    position:relative;
    height:63px;
    text-align: center;
}
.points_selector li a {
    display:block;
    width:100%;
    height:100%;
    color:#a3a3a3;
    font-size: 80%;
}
.points_selector_active, .points_selector_inactive:hover {
    background:#242424;
}
.points_selector_inactive {
    background:#393939;
}
.seltype_icon {
    margin-top:8px;
}
.seltype_capt {
    display:block;
    position:absolute;
    bottom:0;
    width:100%;
}

.citypoints_list {
    position:relative;
    top:2px;
    left:4px;
    border-collapse:collapse;
    border-top:1px solid #000;
}
.citypoints_list tr:nth-child(odd) {
    background-color: #efefef;
}
.citypoints_list tr td {
    padding:4px;
    position:relative;
    padding:0;
}
.citypoints_list a {
    text-decoration:none;
}
.td_obj_icon {
    width:40px;
}
.obj_icon_img {
    margin:5px;
}
.obj_best {
    position:relative;
}
.obj_best_pic {
    position:absolute;
    top:0;
    right:0;
    margin:0px;
}
.objlink {
    border-bottom: 1px dashed #3187c4;
    margin-right:0.5em;
    font-weight:bold;
    font-size:130%;
    text-decoration: none;
}
.objlink:hover {
    border-bottom: none;
}
.point_short {
    display: block;
    height:3em;
    overflow: hidden;
    color:#393939;
    font-size:90%;
    -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 1)), color-stop(90%, rgba(0, 0, 0, 1)), to(transparent));
}
.hidden_overflow_bottom {
    display: block;
    position: absolute;
    height:1em;
    width: 100%;
    bottom: 0;
    margin:0;
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0,startColorStr='#00ffffff',endColorStr='#ffffffff');
    background-image: -webkit-gradient(linear,left top,left bottom,from(rgba(255, 255, 255, 0)),to(rgba(255, 255, 255, 1.0)));
    background-image: -moz-linear-gradient(top center,rgba(255, 255, 255, 0) 20%,rgba(255, 255, 255, 1.0) 95%);
    filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0,startColorStr='#00ffffff',endColorStr='#ffffffff');
}
.obj_additional {
    text-align:center;
    white-space:nowrap;
}
.point_gpsshort {
    padding:2pt;
    margin:4pt;
    background: #c5c1c1;
    white-space:nowrap;
    border:1px solid #a1a1a1;
}
.point_typename {
    font-style:italic;
}
.point_typer {
    cursor:pointer;
}
.point_deleter {
    cursor:pointer;
}


/*------------------------------ page POINT ----------------------------------*/
.textmarker {
    margin-right:1em;
}
#object_container {
    position:absolute;
    height:100%;
    left:30px;
    right:30px;
    bottom:0;
}
#object_container h2 {
    margin-top:1em;
}
#object_text_container {
    position: absolute;
    width:100%;
    margin-top:-1.1em;
    top:0;
    bottom:0;
    overflow-y: scroll;
}
#object_text {
    margin-top:0.5em;
}
#object_additional {
    position:absolute;
    bottom:0;
    left:30px;
    right:30px;
    border-top:1px solid #afafaf;
    background: #fff;
}
#object_gps {
    text-align:center;
}
#object_description {
    position:relative;
    margin-right: 505px;
}
#object_icon {
    float:left;
    margin:5px;
    margin-top:-15px;
    padding:5px;
    background-color: #fff;
    border:1px solid #efefef;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
#object_contacts_block {
    position:relative;
    width:50%;
    margin:1em 0 1em 0;
    padding:1.5em 0 1em 1em;
    border:1px solid #efefef;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
#object_contacts_header {
    position:absolute;
    top:0;
    left:0;
    padding:3px;
    background-color:#efefef;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    border-bottom-right-radius: 5px;
    font-size:80%;
}
#object_contacts {
    list-style: none;
}
#object_contacts img {
    vertical-align: middle;
}
#point_edit_fieldset {
    margin-bottom:5px;
    padding:4px;
    border:1px solid #afafaf;
}
#page_link {
    text-align:right;
}
#type_selector {
    width:100%;
}
#type_selector tr {
    cursor:pointer;
}
#type_selector tr:hover {
    background: #efefef;
}

/*-------------------------------- FORMS -------------------------------------*/
.hiddenedit {
    border:none;
    width: 100%;
    min-height: 20px;
    font-family: Arial, Tahoma, Verdana, sans-serif;
}
.hiddenedit:hover {
    background-color: #FBFBD9;
    cursor:text;
}
.hiddenedit_active {
    border:1px solid #829C8F;
    background-color: #D4FFE9;
    color:#000;
    width:100%
}
.formhandler {

}
.formhandler input {
    display:none;
    border: none;
    padding:2px;
}
.formhandler input.dosave {
    background-color: #FF9398
}
.formhandler input.doesc {
    background-color: #E8E8E8;
}
input.dogo {
    border: none;
    padding:2px;
    background-color: #A6F1A6;
}
#obj_addr_searcher {
    cursor:pointer;
    color:#639063;
    border-bottom: 1px dotted #639063;
}
#obj_addr_searcher {
    font-size:small;
}
#do_cont_edit {
    float:right;
    border: 1px solid #eee;
    cursor: pointer;
}
.hiddenedit_cont {
    width:90%;
    border:1px solid #eee;
    display:none
}
#obj_lat, #obj_lon {
    width: 100px;
}
#pt_latlon_handler input {
    display:inline;
}
#pc_latlon_handler input {
    display:inline;
}

.bigbutton {
    height: 42px;
    width: auto;
    vertical-align:middle;
    margin-top: 4px;
    font-size: 15pt;

    display: inline-block;
    zoom: 1; /* хак IE7 для display: inline-block*/
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    padding: .3em 2em .55em;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5); /* CSS3: тень для текста */
    -webkit-border-radius: .5em; /* CSS3: закругление границ для Safari, Chrome */
    -moz-border-radius: .5em; /* CSS3: закругление границ для FireFox */
    border-radius: .5em;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2); /* CSS3: тень элемента для Safari, Chrome */
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2); /* CSS3: тень элемента для FireFox */
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);

    border: solid 1px #D0C293;
    background: #F1E1AA;
    background: -o-linear-gradient(#F6ECCA, #E0D19E); /* CSS3: фон с градиентом для Opera 11+ */
    background: -webkit-gradient(linear, left top, left bottom, from(#F6ECCA), to(#E0D19E)); /* CSS3: фон с градиентом для Safari, Chrome */
    background: -moz-linear-gradient(top,  #F6ECCA,  #E0D19E); /* CSS3: фон с градиентом для FireFo 3.6+ */
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#F6ECCA', endColorstr='#E0D19E'); /* CSS3: фон с градиентом для IE */
}
.bigbutton:hover {
    background: #EADBA5;
    background: -o-linear-gradient(#E8DFBF, #DACB9A);
    background: -webkit-gradient(linear, left top, left bottom, from(#E8DFBF), to(#DACB9A));
    background: -moz-linear-gradient(top,  #E8DFBF,  #DACB9A);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#E8DFBF', endColorstr='#DACB9A');
    color: #fff;
}
.bigbutton:active {
    position:relative;
    top:1px;
    left: 1px;
}