<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>{$page->title}</title>
        <meta name="title" content="{$page->title}" />
        <meta name="keywords" content="{$page->keywords}" />
        <meta name="description" content="{$page->description}" />
        <meta name="robots" content="index, follow" />
        <meta name="revisit" content="7 days" />
        <meta name="revisit-after" content="7 days" />
        <link rel="icon" href="http://{$page->basepath}/favicon.ico" type="image/x-icon" />
        <link rel="shortcut icon" href="http://{$page->basepath}/favicon.ico" type="image/x-icon" />
        <link rel="search" href="http://{$page->basepath}/search/" />
        <link rel="copyright" href="http://{$page->basepath}/about/" />
        <link rel="start" href="http://{$page->basepath}/" />
        <link rel="stylesheet" href="http://{$page->basepath}/css/{$page->mainfile_css}" type="text/css" media="screen, projection, print" />
        <script type="text/javascript" src="http://yandex.st/jquery/1.4.2/jquery.min.js"></script>
        <script type="text/javascript" src="http://{$page->basepath}/js/jquery.simplemodal.1.4.min.js"></script>
        {if $page->canonical}
        <link rel="canonical" href="http://{$page->basepath}{$page->canonical}" />
        {/if}
        {if $page->user.userid}
        <script type="text/javascript" src="http://{$page->basepath}/addons/ckeditor/ckeditor.js"></script>
        <script type="text/javascript" src="http://{$page->basepath}/addons/ckeditor/adapters/jquery.js"></script>
        <script src="http://{$page->basepath}/js/jquery.ui.core.js"></script>
        <script src="http://{$page->basepath}/js/jquery.ui.datepicker.js"></script>
        <script src="http://{$page->basepath}/js/jquery.ui.datepicker-ru.js"></script>
        <link type="text/css" rel="stylesheet" href="http://{$page->basepath}/css/ui-lightness/jquery-ui-1.8.2.custom.css" />
        {/if}
        <script type="text/javascript" src="http://{$page->basepath}/js/{$page->mainfile_js}"></script>
        {if $page->module_id == 'index.html'}
        <script type="text/javascript" src="http://{$page->basepath}/js/swfobject.v-1.5.js"></script>
        {if $page->globalsettings.key_google}<meta name="google-site-verification" content="{$page->globalsettings.key_google}" />{/if}
        {if $page->globalsettings.key_yandex}<meta name="yandex-verification" content="{$page->globalsettings.key_yandex}" />{/if}
        {if $page->globalsettings.key_bing}<meta name="msvalidate.01" content="{$page->globalsettings.key_bing}" />{/if}
        {if $page->globalsettings.key_yahoo}<meta name="y_key" content="{$page->globalsettings.key_yahoo}" />{/if}
        {/if}
        {if $page->key_yandexmaps && $page->ymaps_ver == 1}
        <script src="http://api-maps.yandex.ru/1.1/index.xml?key={$page->key_yandexmaps}" type="text/javascript"></script>
        {/if}
        {if $page->ymaps_ver == 2}
        <script src="http://api-maps.yandex.ru/2.0/?coordorder=longlat&load=package.full&wizard=constructor&lang=ru-RU" type="text/javascript"></script>
        {/if}
        {if $page->globalsettings.main_rss}
        <link rel="alternate" type="application/rss+xml" title="RSS blog" href="{$page->globalsettings.main_rss}" />
        {/if}
    </head>
    <body>
        <div id="wrapper">
            <div id="header">
                <div id="loginform"></div>
                <img id="logintoggler" src="http://{$page->basepath}/img/btn/btn.expand.png" alt="авторизация" />
                <a href="http://{$page->basepath}/"><img id="mainlogopic" src="http://{$page->basepath}/img/logo/logo.png" alt="Культурный туризм в России" /></a>
                <ul id="mainmenu" class="menu_common">
                    <li><a href="http://{$page->basepath}/" title="Главная страница">Главная</a></li>
                    <li><a href="http://{$page->basepath}/city/" title="Города">Города</a></li>
                    <li><a href="http://{$page->basepath}/search/" title="Поиск">Поиск</a></li>
                    <li><a href="http://{$page->basepath}/blog/" title="Блог">Блог проекта</a></li>
                    <li><a href="http://{$page->basepath}/feedback/" title="Обратная связь">Отзыв</a></li>
                    <li><a href="http://{$page->basepath}/about/" title="О проекте">О проекте</a></li>
                </ul>
            </div><!-- #header-->
            <div id="content">
                {if $page->h1}<h1>{$page->h1}</h1>{/if}
                {$page->content}
            </div><!-- #content-->
        </div><!-- #wrapper -->
        <div id="footer">
            <!--noindex-->{$page->counters}<!--/noindex-->
            {$debug_info}
            <div id="footer_copyright">
                &copy;&nbsp;Культурный туризм,&nbsp;2010
                <br />
                <a href="http://{$page->basepath}/about/">О проекте</a>
            </div>
        </div><!-- #footer -->
    </body>
</html>