/* 
    Document   : common
    Created on : 15.10.2010, 17:51:46
    Author     : Andrey_Pns
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/
* {
    margin: 0;
    padding: 0;
}
html {
    height: 100%;
    background-color: #ddd;
}
body {
    font: 13pt/16pt Arial, Tahoma, Verdana, sans-serif;
    height: 100%
}

/* Commons
-----------------------------------------------------------------------------*/
a {
    color: #649C48;
    outline: none;
    text-decoration: underline;
}
a:hover {
    text-decoration: none;
}
p {
    margin: 0 0 18px
}
img {
    border: none;
}
input {
    vertical-align: middle;
}
ul {
    margin-left:20pt;
}
hr {
    color:#8bc064;
    border-top: #8bc064 1px solid;
    border-bottom: #d6a90b 1px solid;
}
ul.menu_common {
    display:inline;
    margin:0;
}
ul.menu_common li {
    list-style:none;
    display:inline;
}

/* Header
-----------------------------------------------------------------------------*/
#header {
    height: 115px;
    border-bottom: 1px solid #8bc064;
}
#loginform {
    position: absolute;
    right:0;
    left:0;
    height:0;
    padding:1px 10pt 1px 1px;
    text-align: right;
    overflow:hidden;
    background-color: #aaa;
    border-bottom: solid 1px #D9D9D9;
    border-top: solid 1px #877571;
}
#logintoggler {
    position:absolute;
    top:3px;
    right:50px;
}
#mainlogopic {
    float:left;
}
#mainmenu {
    padding: 0;
    margin-top:44px;
    position: absolute;
    right:150px;
}
#mainmenu li {
    float: left;
}
#mainmenu li a, #mainmenu li a:visited {
    display: block;
    padding: 5px;
    margin-right: 1px;
    color: #d6a90b;
    background-color: #DCE9BD;
}
#mainmenu li a:hover {
    color: #F2E5B4;
    background-color: #8bc064;
}

/* Middle
-----------------------------------------------------------------------------*/
#wrapper {
    min-width: 1000px;
    max-width: 1200px;
    margin: 0 auto;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    background-color: #fff;
    padding: 0 10px;
}
#content {
    padding:10pt;
    margin-bottom: 10px;
    padding-bottom: 50px;
}

h1 {
    margin-bottom: 5pt;
    font-weight: bold;
    font-size: 20pt;
}
h2 {
    margin-bottom: 10pt;
    margin-top: 15pt;
    font-weight: bold;
    font-size: 18pt;
}
.h2 {
    font-weight: bold;
    font-size: 18pt;
}
.h1 {
    font-weight: bold;
    font-size: 20pt;
}
hr {
    clear:both;
}
.simplewindow {
    height: 100%;
    min-height: 500px;
    overflow: hidden;
    font-size:smaller;
}
/*------------------------------- INDEX -------------------------------------*/
#flashcontent {
    float:right;
    border:1px solid #eee;
    text-align:center;
    width:400px;
    height:400px;
    vertical-align:middle;
}


/*-------------------------------- CITY -------------------------------------*/
#city_path {
    float: right;
    font-size:smaller;
    color:#8bc064;
}
#city_path a {
    color:#8bc064;
}
#page_link {
    font-size:smaller;
    text-align:right;
}
div.city_nearmenu {
    background-color: #DCE9BD;
    padding:2px;
    margin:3px;
    width:auto;
}
div.city_nearmenu li a {
    color: #d6a90b;
}


/*--------------------------- OBJECTS LIST ------------------------------*/
#menu_type, #menu_type2 {
    margin-left:-3px;
}
#menu_type li a, #menu_type2 li a {
    padding:3px 0.5em 1px;
    margin-left:3px;
    border:1px solid #003;
    border-bottom:none;
    background-color:#DCE9BD;
    text-decoration:none;
    color:#d6a90b;
}
#menu_type li a:hover, #menu_type2 li a:hover {
    color:#F2E5B4;
    background-color:#8bc064;
}
#menu_type li a#current, #menu_type2 li a#current {
    background-color:#fff;
    border-bottom:1px solid #fff;
}
.selector_link {
    text-decoration: none;
    border-bottom: 1px dashed #649C48;
    margin-bottom: 2px;
    padding-bottom: 0;
    font-size: small;
}
.selector_link:hover {
    border-bottom: none;
}
#whatseelist, #whatservlist {
    font-size: 15pt;
    border-collapse:collapse;
    border-top:1px solid #000;
}
#whatseelist tr:nth-child(odd), #whatservlist tr:nth-child(odd) {
    background-color: #efefef;
}
#whatseelist tr td, #whatservlist tr td {
    padding:4px;
}
.point_deleter, .point_typer {
    cursor:pointer;
}
.point_short {
    color:#999;
    font-size: 70%;
}
.point_typename {
    font-style: italic;
    font-size: 70%;
    white-space:nowrap;
}
.point_gpsshort {
    text-align:center;
    font-size:60%;
}
.point_latlon {
    color:#999;
    font-size: 70%;
    text-decoration: none;
}
#type_selector {
    background-color:#A6C7E1;
    width:100%;
}
#type_selector tr {
    cursor:pointer;
    background-color: #D4FFE9;
}
#type_selector tr:hover, #type_selector tr.selector_active:hover {
    background-color: #00CC66;
}
#type_selector tr.selector_active {
    background-color:#23D3A1
}
.td_obj_icon {
    text-align: center;
    vertical-align: middle;
    width:60px;
}
.td_obj_icon img {
    vertical-align: middle;
}
.export_panel {
    vertical-align: middle;
    margin-bottom: 2px;
}
.export_button {
    padding: 2px;
    margin-bottom: 1em;
    margin:5px;
    background-color: #DCE9BD;
    border-color: #DCE9BD;
}
.export_about {
    display:block;
    float:left;
    vertical-align: middle;
    text-decoration: none;
    border-bottom: 1px dashed #649C48;
    margin:3px;
    padding-bottom: -2px;
    font-size: small;
}
/*------------------------------- OBJECT -------------------------------------*/
#point_gps {
    text-align:center;
    font-size:smaller;
    background-color: #DCE9BD;
    padding:1px;
    margin:2px;
}
img.textmarker {
    vertical-align: middle;
}
#object_contacts {
    list-style: none;
}
/*-------------------------------- FORMS -------------------------------------*/
.hiddenedit {
    border:none;
    width: 100%;
    min-height: 20px;
    font-family: Arial, Tahoma, Verdana, sans-serif;
}
.hiddenedit:hover {
    background-color: #FBFBD9;
    cursor:text;
}
.hiddenedit_active {
    border:1px solid #829C8F;
    background-color: #D4FFE9;
    width: 100%
}
.formhandler {
    height:20px;
}
.formhandler input {
    display:none;
    border: none;
    padding:2px;
}
.formhandler input.dosave {
    background-color: #FF9398
}
.formhandler input.doesc {
    background-color: #E8E8E8;
}
#do_cont_edit {
    float:right;
    border: 1px solid #eee;
    cursor: pointer;
}
.hiddenedit_cont {
    width:90%;
    border:1px solid #eee;
    display:none
}
/*------------------------------------- BLOG --------------------------*/
.blog_attrs {
    margin-top:-8px;
    margin-left: 20px;
    color:#afafaf;
    font-size:smaller;
}
.datepicker {
    width: 90px;
    background-image:url('../../img/ico/ico.calendar.gif');
    background-position:right top;
    background-repeat: no-repeat;
    cursor:pointer;
}
/*------------------------------------- MAPS --------------------------*/
#map_container {
    float:right;
}
#city_map {
    border:1px solid #99B099;
    background-color:#DDFEDD;
    height: 400px;
    width: 500px;
    margin:5px;
}
#city_types {
    width: 500px;
    text-align:center;
    display: none;
}
.point_dataext {
    color:#A59F9A;
}
#objfinder_map {
    border:1px solid #99B099;
    background-color:#DDFEDD;
    height: 400px;
    width: 600px;
    margin:5px;
}
/*----------------------------------- FEEDBACK ------------------------*/
.feedtable {
    width:70%;
    border:#7d7d7d 1px solid;
    padding:2px;
    margin-bottom:2px;
}
.feedinput {
    width:100%;
    border-width:1px;
}
textarea.feedinput {
    height:200px;
}
.feedtable label {
    padding:5px;
}
.feedhighlight {
    color:red;
}

/* Footer
-----------------------------------------------------------------------------*/
#footer {
    margin: -60px auto 0;
    min-width: 1000px;
    max-width: 1200px;
    height: 40px;
    padding-top:2px;
    border-top: 1px solid #8bc064;
}
#footer_copyright {
    text-align:right;
    float:right;
}

/* MS IE 6.0 ------------------------*/
* html #wrapper,
* html #footer {
    width: expression((documentElement.clientWidth||document.body.clientWidth)<1000?'1000px':'');
}


/* Simplemodal
-----------------------------------------------------------------------------*/
#simplemodal-container a.modalCloseImg {
    background:url(../../img/x.png) no-repeat; /* adjust url as required */
    width:25px;
    height:29px;
    display:inline;
    z-index:3200;
    position:absolute;
    top:-15px;
    right:-18px;
    cursor:pointer;
}
#simplemodal-container {
    width:700px;
    border:1px solid #ddd;
    background-color: #fff;
    min-width: 700px;
    min-height: 500px;
    padding:20pt;
}
* html #simplemodal-container a.modalCloseImg {
    background:none;
    right:-14px;
    width:22px;
    height:26px;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(
        src='../../img/x.png', sizingMethod='scale'
        );
}
/* M E D I A   P R I N T
-----------------------------------------------------------------------------*/
@media print {
    #loginform, #logintoggler, #menu_type, #footer_copyright a {
        display:none;
    }
}