[submodule "addons/ckeditor"]
	path = addons/ckeditor
	url = https://github.com/ckeditor/ckeditor-releases.git
[submodule "addons/phpmailer"]
	path = addons/phpmailer
	url = https://github.com/PHPMailer/PHPMailer.git