*.pdf
*.zip
*.gz
*.gzip
*.rar
*.txt
*.xls
*.csv
*.log
css/ct-*.css
js/ct-*.js
templates_c/
config/configuration.php
data/private/
data/feed/
data/images/
data/images/*.jpg
data/photos/
data/_thumbs/
vendor/
sitemap.xml
robots.txt