*.pdf
*.zip
*.gz
*.gzip
*.rar
*.txt
*.xls
*.csv
*.log
.idea
ct-*.css
ct-*.js
templates_c/
templates_cache/
/config/configuration.php
/data/private/
/data/feed/*
/data/images/
/data/photos/
/data/_thumbs/
/vendor/
sitemap.xml
robots.txt
data/file/
data/files/
data/logs/
data/store/

templates/sys/

docker/mariadb/data
