Options -Indexes
Options +FollowSymLinks
DirectoryIndex index.php index.html
php_value expose_php Off
php_flag expose_php Off


RewriteEngine On
RewriteCond %{REQUEST_URI} ^/[^.]+[^/]$
RewriteRule ^(.*)$ https://%{HTTP_HOST}/$1/ [R=301,L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . index.php [L,QSA]
php_value default_charset utf-8
AddType 'text/html; charset=utf-8' .html .htm .shtml
