<div id="maponpage"></div>
<div id="mapdata">Ваше местоположение: <span id="mapdata_location"></span></div>
<div id="mapstat">Отображается точек: <span id="mapdata_points">0</span></div>

<div style="height:25px;overflow:hidden;margin: 10px;">
    <script type="text/javascript" src="//yandex.st/share/share.js" defer="defer" charset="utf-8"></script>
    <div class="yashare-auto-init" data-yashareL10n="ru" data-yashareType="none" data-yashareQuickServices="yaru,vkontakte,facebook,twitter,odnoklassniki,moimir,lj,friendfeed,moikrug,gplus"></div> 
</div>

<style>
    #maponpage {
        width:99%;
        min-height:400px;  
        height:600px;
        border:1px solid #99B099;
        margin:0 auto;
    }
</style>