#flickr-import-content {
    position: relative;
    margin: 5px;
}
#flickr-import-url {
    width: 300px;
}
#flickr-import-console {
    min-height: 135px;
    margin:5px;
}
#flickr-import-preview {
    position:absolute;
    top: 0;
    left: 400px;
}
#flickr-import-add {
}