.status-fatal {
    background-color: #90636e !important;
}

.status-error {
    background-color: #636490 !important;
}

.status-redirect {
    background-color: #908f63 !important;
}

.status-ok {
    background-color: #639063 !important;
}
