.selected-status {
    font-weight: bold;
}

.status-fatal {
    background-color: #F8CCCA !important;
}

.status-error {
    background-color: #CACCF8 !important;
}

.status-redirect {
    background-color: #F8EBCA !important;
}

.status-ok {
    background-color: #DAF8CA !important;
}

.links-redirect-process {
    color: #004C96;
    border-bottom: 1px dotted #004C96;
    cursor: pointer;
}
