.photos-block {
    padding: 5px;
    border-bottom: 1px solid #87CEEB;
}
#photos-to-flickr a {
    color: #87CEEB;
}
#photos-upload-data, #photos-upload-bind {
    margin: 3px;
}
#photos-upload-bind-pt {
    width: 280px;
}

.photos-listpager {
    margin-top: 5px;
    font-size: 80%;
}

.photos-listitem {
    
}
.photos-listitem td.m_center {
    text-align: center;
}
.photos-listitem-region {
    display: block;
    font-size: 80%;
    color: #006a00;
}

.photos-listitem-object {
    display: block;
    font-size: 80%;
    color: #880088;
}

#photos-item {
    position: relative;
}
#photos-item-img {
    position: absolute;
    left: 600px;
    max-width: 300px;
}