<h1>{$city.pc_title}</h1>
<div id="city_path">{$city.pc_pagepath}</div>
{if $city.pc_latitude && $city.pc_longitude}
<div id="map_container">
    <div id="city_map"></div>
    <div id="city_types">
        {foreach from=$ptypes item=ptype}
        <a href="#" title="{$ptype.tp_name}"><img src="/img/points/32/{$ptype.tp_icon}" alt="{$ptype.tp_name}" /></a>
        {/foreach}
    </div>
    {if $city.pc_city_id > 0}
    <a id="city_map_link" href="map.html" title="Большая карта достопримечательностей {$city.pc_inwheretext}">на весь экран</a>
    {/if}
</div>
{/if}
<div id="citytext">
    <div class="city_weather" data-lat="{$city.pc_latitude}" data-lon="{$city.pc_longitude}" title="погодные условия">
        <img src="/img/preloader/horizontal.gif" title="идет загрузка погоды" alt="идет загрузка" style="vertical-align: middle" />
    </div>
    {$city.pc_text}
</div>

{if $city.region_in}
<div id="city_inners" class="city_nearmenu">
    {$city.pc_title} включает в себя
    <ul class="menu_common">
        {foreach from=$city.region_in item=incity}
        <li><a href="{$incity.url}/" title="достопримечательности {$incity.where}">{$incity.title}</a></li>
        {/foreach}
    </ul>
</div>
{/if}

{if $city.region_near}
<div id="city_nears" class="city_nearmenu">
    <strong>Рядом:</strong>
    <ul class="menu_common">
        {foreach from=$city.region_near item=incity}
        <li><a href="{$incity.url}/" title="достопримечательности {$incity.where}">{$incity.title}</a></li>
        {/foreach}
    </ul>
</div>
{/if}

<hr />

<div id="citypoints">

    {if $points_sight}
    <h2>Достопримечательности {$city.pc_inwheretext}</h2>

    <ul id="menu_type1" class="points_selector">
        <li>
            <a class="points_selector_active typefilterlink" href="#type_all" title="показать всё">
                <img class="seltype_icon" src="/img/points/x32/star.png" alt="показать всё" />
                <span class="seltype_capt">всё</span>
            </a>
        </li>
        {foreach from=$types_select.1 item=seltype key=typeid}
        <li>
            <a class="points_selector_inactive typefilterlink" href="#type_{$typeid}" title="{$seltype.full}">
                <img class="seltype_icon" src="/img/points/x32/{$seltype.icon}" alt="{$seltype.full}" />
                <span class="seltype_capt">{$seltype.short}</span>
            </a>
        </li>
        {/foreach}
    </ul>

    <table id="whatseelist" class="citypoints_list">
        {foreach from=$points_sight item=item}
        <tr class="obj_type_{$item.pt_type_id}">
            <td class="td_obj_icon{if $item.pt_is_best == 1} obj_best{/if}">
                {if $item.pt_type_id != 0}
                <a href="object{$item.pt_id}.html" title="подробно: {$item.pt_name}">
                    <img class="obj_icon_img" src="/img/points/x32/{$item.tp_icon}" alt="{$item.tp_name}: {$item.pt_name}" />
                </a>
                {else}<img class="obj_icon_img" src="/img/points/x32/star.png" alt="другое" />{/if}
                <span class="hidden_overflow_bottom"></span>
            </td>
            <td>
                <a href="object{$item.pt_id}.html" class="objlink" title="подробно: {$item.pt_name}"><strong>{$item.pt_name}</strong></a>
                <a href="object{$item.pt_id}.html" title="{$item.pt_name}, открыть в новом окне" rel="external">
                    <img src="/img/new-window.png" alt=">" class="link_external" />
                </a>
                <br />
                <span class="point_short">{$item.short}</span>
                <span class="hidden_overflow_bottom"></span>
            </td>
            <td class="obj_additional">
                {if $item.gps_dec}<br /><span class="point_gpsshort">{$item.gps_dec}&nbsp;</span>{/if}
                <span class="hidden_overflow_bottom"></span>
            </td>
        </tr>
        {/foreach}
    </table>

    <p></p>

    {if $points_servo}
    <h2>Полезная информация</h2>
    <ul id="menu_type2" class="points_selector">
        <li>
            <a class="points_selector_active typefilterlink" href="#type_all" title="показать всё">
                <img class="seltype_icon" src="/img/points/x32/star.png" alt="показать всё" />
                <span class="seltype_capt">всё</span>
            </a>
        </li>
        {foreach from=$types_select.0 item=seltype key=typeid}
        <li>
            <a class="points_selector_inactive typefilterlink" href="#type_{$typeid}" title="{$seltype.full}">
                <img class="seltype_icon" src="/img/points/x32/{$seltype.icon}" alt="{$seltype.full}" />
                <span class="seltype_capt">{$seltype.short}</span>
            </a>
        </li>
        {/foreach}
    </ul>

    <table id="whatservlist" class="citypoints_list">
        {foreach from=$points_servo item=item}
        <tr class="obj_type_{$item.pt_type_id}">
            <td class="td_obj_icon">
                {if $item.pt_type_id != 0}
                <a href="object{$item.pt_id}.html" title="подробно: {$item.pt_name}">
                    <img src="/img/points/x32/{$item.tp_icon}" alt="{$item.tp_name}: {$item.pt_name}" />
                </a>
                {else}
                <img src="/img/points/x32/star.png" alt="другое" />
                {/if}
                <span class="hidden_overflow_bottom"></span>
            </td>
            <td>
                <a href="object{$item.pt_id}.html" class="objlink" title="подробно: {$item.pt_name}"><strong>{$item.pt_name}</strong></a>
                <a href="object{$item.pt_id}.html" title="{$item.pt_name}, открыть в новом окне" rel="external"><img src="/img/new-window.png" alt=">" class="link_external" /></a>
                <br />
                <span class="point_short">{$item.short}</span>
                <span class="hidden_overflow_bottom"></span>
            </td>
            <td class="obj_additional">
                {if $item.gps_dec}<br /><span class="point_gpsshort">{$item.gps_dec}</span>{/if}
                <span class="hidden_overflow_bottom"></span>
            </td>
        </tr>
        {/foreach}
    </table>
    {/if}
    {else}
    {if $city.pc_id != 120}
    <p>Как видите, о достопримечательностях пока информации нет. Если хотите помочь ресурсу, <a href="/feedback/">напишите нам</a>.</p>
    {/if}
    {/if}
</div>
{if $city.pc_latitude && $city.pc_longitude}
<input type="hidden" id="mapcity_pc_id" value="{$city.pc_id}" />
<input type="hidden" id="mapcity_pc_latitude" value="{$city.pc_latitude}" />
<input type="hidden" id="mapcity_pc_longitude" value="{$city.pc_longitude}" />
<input type="hidden" id="mapcity_pc_zoom" value="{$city.pc_zoom}" />
<script type="text/javascript" src="/js/map_page_city.js"></script>
{/if}

<div id="yandex_sharer">
    <script type="text/javascript" src="//yandex.st/share/share.js" charset="utf-8"></script>
    <div class="yashare-auto-init" data-yashareL10n="ru" data-yashareType="none" data-yashareQuickServices="yaru,vkontakte,facebook,twitter,odnoklassniki,moimir,lj,friendfeed,moikrug,gplus"></div> 
</div>
<div id="yandex_ad"></div>
<script type="text/javascript" src="/js/adv_city.js"></script>
