{if $adminlogined}
<div style="border:1px solid #ddd;padding:5px;background-color: #eee;">
    <p>Как можно добавить город в базу</p>
    <form method="get" action="./add/">
        <label for="cityname">название</label>&nbsp;<input type="text" name="cityname" id="cityname" />
        <input type="submit" value="добавить" />
    </form>
</div>
<hr />
{/if}
<h2>Список регионов</h2>
<table style="width:100%;">
    <thead>
        <tr>
            <th>#</th>
            <th>Название</th>
            <th>URL</th>
            <th>Описание</th>
            <th>Точки</th>
            <th>GPS</th>
            <th>Достопримечательности</th>
        </tr>
    </thead>
    <tbody>
        {foreach from=$tcity item=city}
        <tr>
            <td>{counter}</td>
            <td><a href="../..{$city.url}/" title="список достопримечательностей"
            {if $city.pc_city_id!=0}
                   style="margin-left:30px;"
                   {elseif $city.pc_region_id!=0 && $city.pc_city_id==0 && $city.pc_country_id!=0}
                   style="margin-left:20px;"
                   {/if}
                   {if $city.url=='/goldenring'}
                   style="margin-left:20px;"
                   {/if}
                   ><b>{$city.pc_title}</b></a></td>
            <td>{$city.url}</td>
            <td>{$city.len} знаков</td>
            <td>{$city.pts} точек</td>
            <td><div style="font-size:x-small;background-color: #eee;">{$city.pc_latitude}<br>{$city.pc_longitude}</div></td>
            <td><a href="detail/?city_id={$city.pc_id}" title="детально...">детально {$city.pc_title}</a></td>
        </tr>
        {/foreach}
    </tbody>
</table>