<h2>{$city.pc_title}</h2>
<hr />
{literal}
<style>
    td {
        vertical-align: top;
    }
</style>
{/literal}
<form method="post">
    <table style="width: 70%">
        <tr>
            <td nowrap>ключевые слова</td>
            <td colspan="3" style="width:100%"><input type="text" name="keywds" value="{$city.pc_keywords}" style="width: 100%" /></td>
        </tr>
        <tr>
            <td nowrap>краткое описание (до 200 знаков)</td>
            <td colspan="3"><textarea name="descr" style="width: 100%">{$city.pc_description}</textarea></td>
        </tr>
        <tr>
            <td nowrap>координаты</td>
            <td colspan="3">
                широта (latitude): <input type="text" name="latitude" id="pc_latitude" value="{$city.pc_latitude}" style="width: 60pt" />,
                долгота (longitude):<input type="text" name="longitude" id="pc_longitude" value="{$city.pc_longitude}" style="width: 60pt" />
                <a id="citymap_finder" href="#" style="font-size:smaller;">[на&nbsp;карте]</a>
            </td>
        </tr>
        <tr>
            <td nowrap>рейтинг</td>
            <td colspan="3">{$city.pc_rank}</td>
        </tr>
        <tr>
            <td nowrap>родительный падеж... (чего?) </td>
            <td><input type="text" name="inwhere" value="{$city.pc_inwheretext}" style="width: 100%" /></td>
            <td>транслит</td>
            <td><input type="text" name="translit" value="{$city.pc_title_translit}" style="width: 100%" /></td>
        </tr>
        <tr>
            <td nowrap>англоязычное название</td>
            <td><input type="text" name="title_eng" value="{$city.pc_title_english}" style="width: 100%" /></td>
            <td>синонимы</td>
            <td><input type="text" name="synonym" value="{$city.pc_title_synonym}" style="width: 100%" /></td>
        </tr>
        <tr>
            <td nowrap>официальный сайт города (региона)</td>
            <td colspan="3" style="width:100%"><input type="text" name="web" value="{$city.pc_website}" style="width: 100%" /></td>
        </tr>
        <tr>
            <td nowrap>URL страницы</td>
            <td colspan="3" style="width:100%">http://{$baseurl}<input type="text" name="url" value="{$city.url}" style="width: 50%" /></td>
        </tr>
    </table>
    <hr />
    <input type="submit" value="сохранить" />
</form>