<img class="pageicon" src="/img/admin/ico.a_refs.gif" />
<h3>{$title}</h3>

<p>Список "{$list.ls_title}"</p>

<table style="width:100%;">
    <tr>
        <td valign="top">

            <b>Данные списка</b>
            <form method="post">
                <table>
                    <tr>
                        <td>Наименование</td>
                        <td><input type="text" name="ls_title" value="{$list.ls_title}" style="width:250px;" /></td>
                    </tr>
                    <tr>
                        <td>URL-часть</td>
                        <td><input type="text" name="ls_slugline" value="{$list.ls_slugline}" style="width:250px;" /></td>
                    </tr>
                    <tr>
                        <td>Ключевые слова</td>
                        <td><input type="text" name="ls_keywords" value="{$list.ls_keywords}" style="width:250px;" /></td>
                    </tr>
                    <tr>
                        <td colspan="2">Мета-описание</td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <textarea name="ls_description" id="ls_description" style="width:99%;">{$list.ls_description}</textarea>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">Текст</td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <textarea name="ls_text" id="ls_text" style="width:99%;">{$list.ls_text}</textarea>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            Порядок: <input type="text" name="ls_order" value="{$list.ls_order}" style="width:50px;" />
                            Активность:
                            <input type="hidden" name="ls_active" value="0" />
                            <input type="checkbox" name="ls_active" value="1" {if $list.ls_active == 1}checked{/if} />
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <input type="submit" value="Сохранить" />
                        </td>
                    </tr>
                </table>
            </form>

        </td>
        <td valign="top" style="width:70%">

            <b>Список входящих объектов</b>
            <form method="post" action="?id={$list.ls_id}&act=add">
                <table class="commontable" cellspacing="1">
                    <tr>
                        <th>№</th>
                        <th>ID</th>
                        <th>Регион</th>
                        <th>Название</th>
                        <th>Вес</th>
                        <th>Порядок</th>
                        <th>Активность</th>
                    </tr>
                    {foreach from=$list_items item=li}
                    <tr>
                        <td style="text-align: center;">{counter}</td>
                        <td style="text-align: center;">{$li.pt_id}</td>
                        <td><a href="{$li.url_region}" target="_blank">{$li.pc_title}</a></td>
                        <td><a href="{$li.url_canonical}" target="_blank">{$li.pt_name}</a></td>
                        <td style="text-align: center;">{$li.pt_rank}</td>
                        <td style="text-align: center;">{$li.li_order}</td>
                        <td style="text-align: center;">{if $li.li_active}<b>ВКЛ</b>{else}откл{/if}</td>
                    </tr>
                    {/foreach}
                    <tr>
                        <td><img src="/img/btn/btn.add.png" /></td>
                        <td><input type="text" name="add_id" id="list-add-id" value="" style="width:4em" /></td>
                        <td colspan="3"><input type="text" id="list-add-name" value="" style="width:98%" autocomplete="off" /></td>
                        <td></td>
                        <td><input type="submit" value="добавить" /></td>
                    </tr>
                </table>
            </form>

        </td>
    </tr>
</table>


<script src="http://cult.localhost/js/jquery.autocomplete.min.js"></script>
<script>
    CKEDITOR.replace('ls_text', {
        customConfig: '/config/config.cke4.js',
        height: '200px',
        toolbar: 'Lite'
    });
    $('#list-add-name').autocomplete({
        serviceUrl: "lists.php?suggest&lid={$list.ls_id}",
        paramName: "query",
        onSelect: function(suggestion) {
            $('#list-add-id').val(suggestion.oid);
        }
    });
</script>