<img class="pageicon" src="/img/admin/ico.a_refs.gif" />
<h3>{$title}</h3>

<div id="photos-to-flickr" class="photos-block">
    <a href="./flickr.php">Импорт из Flickr</a>
</div>


<div id="photos-upload" class="photos-block">
    <form action="?act=upload" method="post" enctype="multipart/form-data">
        Добавить фото
        <input type="file" name="photo" accept="image/jpeg,image/png" />
        <div id="photos-upload-data">
            <input type="text" name="title" placeholder="Название" />
            <input type="text" name="author" placeholder="Автор" />
            <input type="text" name="link" placeholder="Ссылка" />
        </div>
        <div id="photos-upload-bind">
            <input type="hidden" id="photos-upload-bind-pcid" name="pcid" value="0" />
            <input type="hidden" id="photos-upload-bind-ptid" name="ptid" value="0" />
            <input type="hidden" id="photos-upload-bind-mdid" name="mdid" value="0" />
            <input type="hidden" id="photos-upload-bind-pgid" name="pgid" value="0" />

            <input type="text" id="photos-upload-bind-pc" value="" placeholder="регион" />
            <input type="button" id="photos-upload-bind-pc-clean" value="X" />
            &nbsp;&nbsp;&nbsp;&nbsp;
            <input type="text" id="photos-upload-bind-pt" value="" placeholder="объект" />
            <input type="button" id="photos-upload-bind-pt-clean" value="X" />
        </div>
        <input type="submit" value="Загрузить" />
    </form>
</div>


<div id="photos-list" class="photos-block">
    <table class="commontable">
        <tr>
            <th>ID</th>
            <th>Название</th>
            <th>Автор</th>
            <th>Ссылка</th>
            <th>Размеры</th>
            <th>&nbsp;</th>
        </tr>
        {foreach from=$list.items item=ph}
        <tr>
            <td>{$ph.ph_id}</td>
            <td>
                {$ph.ph_title}
                <span class="photos-listitem-region">{$ph.pc_title}</span>
                <span class="photos-listitem-object">{$ph.pt_name}</span>
            </td>
            <td>{$ph.ph_author}</td>
            <td>{$ph.ph_link}</td>
            <td>{$ph.ph_width}x{$ph.ph_height}</td>
            <td>
                <a href="?id={$ph.ph_id}"><img src="{$ph.ph_src}" style="max-height: 50px" /></a>
            </td>
        </tr>
        {/foreach}
    </table>
</div>

<link rel="stylesheet" href="/css/admin/photos.css" type="text/css" />
<script type="text/javascript" src="/js/admin/photos.js" defer="defer"></script>