<img class="pageicon" src="/img/admin/ico.a_refs.gif" />
<h3>{$title}</h3>

<div style="width:200px;float:right;text-align:center">
    <p><b>Города</b></p>
    <ul style="text-align:left;">
        <li>всего: {$towns.all}</li>
        <li>обработано: {$towns.worked}</li>
        <li>осталось: {$towns.remain}</li>
    </ul>
    <p><b>Отчёты в кэше</b></p>
    <ol style="text-align:left;">
        {foreach from=$reports item=rep}
        <li>{$rep.ReportID}: {$rep.StatusReport}</li>
        {/foreach}
    </ol>
    <form method="post">
        <input type="submit" name="do_reload_full" value="Перезапуск полный" />
        <input type="submit" name="do_reload_stat" value="Сброс статистики" />
        <input type="submit" name="do_stack_empty" value="Сброс очереди отчётов" />
    </form>
</div>

<table style="background-color:teal; margin:10px;" cellpadding="3" cellspacing="1">
    <tr style="background-color:#DCDCDC;">
        <th>#</th>
        <th>Страна</th>
        <th>Регион</th>
        <th>Город</th>
        <th>Запросы</th>
        <th>&nbsp;</th>
    </tr>
    {foreach from=$stat item=item}
    <tr style="background-color:#fff;">
        <td>{counter}</td>
        <td>{$item.country_name}</td>
        <td>{$item.region_name}</td>
        <td>
            <a href="/city/add/?cityname={$item.city_name}">{$item.city_name}</a>
            <a href="http://wordstat.yandex.ru/?cmd=words&page=1&t={$item.city_name}+достопримечательности&geo=&text_geo="><img src="/img/new-window.png" /></a>
        </td>
        <td align="center">{$item.ws_weight}</td>
        <td align="center">
            <form method="post">
                <input type="hidden" name="town_id" value="{$item.ws_city_id}" />
                <input type="submit" name="do_delete_town" value="удалить" />
            </form>
        </td>
    </tr>
    {/foreach}
</table>